/**
 * Styles for the footer. Among others, it will be sticky.
 */
body {
    display: flex;
    flex-direction: column;
}

html:not(.has-navbar-fixed-top) {
    body {
        min-height: 100vh;
    }
}

html.has-navbar-fixed-top {
    body {
        min-height: calc(100vh - #{$navbar-height});
    }
}

#page-wrapper {
    flex: 1;
}

footer.footer {
    .content {
        // user info page
        &.user-info {
            @extend .has-text-grey;
            span.ip {
                font-family: $family-monospace;
            }
        }
    }
}
