@charset "utf-8";

@import "fonts";

// do not use the bulma theme's font, in lieu of our custom fonts
$bulmaswatch-import-font: false;

// bulma (CSS framework) styles
@import "~bulmaswatch/flatly/variables";

// define bulma style overrides
$family-sans-serif: 'InterVariable', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-monospace: 'Spline Sans MonoVariable', 'SF Mono', 'SFMono-Regular', ui-monospace,
    'Inconsolata', 'Consolas', 'Monaco', monospace;
$family-brand: 'ArchivoVariable', 'Archivo', $family-sans-serif;
$family-heading: 'ArchivoVariable', 'Archivo', $family-sans-serif;

// include only a subset of components
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/form/_all";

@import "~bulma/sass/components/breadcrumb";
//@import "~bulma/sass/components/card";
@import "~bulma/sass/components/dropdown";
@import "~bulma/sass/components/level";
//@import "~bulma/sass/components/media";
@import "~bulma/sass/components/menu";
@import "~bulma/sass/components/message";
@import "~bulma/sass/components/modal";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/pagination";
@import "~bulma/sass/components/panel";
@import "~bulma/sass/components/tabs";

@import "~bulma/sass/grid/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/layout/_all";

@import "~bulmaswatch/flatly/overrides";

h1, h2, h3 {
    font-family: $family-heading;
}

// hidden logout form
#global-logout-form {
    display: none;
}

// flash messages
div.flash-container {
    div.notification {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

body {
    section:first-of-type {
        padding-top: $block-spacing;
    }
}

// components
@import "footer";
@import "navbar";
